PORT=8000

# Use one of the two options below:
# Option A: Full connection string (recommended for Supabase)
DATABASE_URL=postgresql://postgres.ncscydnrvajxlbnjiyrb:she@ikh15523272@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres

# Option B: Individual database fields
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nest_app

DB_SSL=true
DB_SYNC=false

JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=1d
    